.navbar{
    box-shadow: 0px 0px 5px gray;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
}
label{
    font-weight: 500;
}

.hr1{
    width: 90%;
    margin-left: 15px;
}
hr{
    width: 100%;
}
.ordsum{
    height: 400px;
}
.summcntnt{
    height: 400px;
    padding-right: 0px;
    padding-left: 30px;
    box-shadow: 0px 0px 16px rgb(212, 210, 210);
}
.ordrimg img{
    height: 80px;
    width: 100%;
}
.total{
    font-size: large;
}