.navbar .logo {
    width: 60px;
    height: 60px;
    /* border: 2px red solid; */
    float: left;
}

.navbar .locdrp {
    float: left;
    padding: 15px;
}

.navbar .dropdown-menu {
    position: absolute;
    left: 90px;
}

.navbar .col-md-6 {
    padding-top: 15px;
    /* border: 2px solid red; */
}

.navbar {
    /* border: 2px solid red; */
    background-color: white;
    box-shadow: 1px 1px 10px rgb(189, 187, 187);
    position: sticky;
    top: 0px;
    z-index: 3;
    margin: 0%;
}
.profile{
    margin-top: 10px;
    
}.profile a{
    color: #0f0f0f;
    cursor: pointer;
    
}
.navbar .vegfilter {
    margin: 15px;
    /* border: 1px red solid; */
    width: 90px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
    font-size: 0.9em;
    font-weight: 500;
    float: left;
    margin-left: 50px;
}
@media screen and (max-width:500px){
    .navbar .vegfilter{
        margin-left: 0%;
    }
}
.col-md-3 .sortbtn {
    /* border: 1px red solid; */
    float: left;
    margin: 14px;
    color: aliceblue;
    background-color: rgb(26, 24, 24);
    border-radius: 5px;
    padding: 7px 20px;
}
.logbtn{
    position:absolute;
    right: 0px;
    display: block;
    top: 15px;
    background-color: rgb(26, 24, 24);
    color: aliceblue;
    border-radius: 5px;
    padding: 8px 15px;
    display: none;
    
}
@media screen and (max-width:500px){
    .logbtn{
        position:absolute;
        right: 30px;
    }
}

.logbtn:hover{
    color: aliceblue;
    text-decoration: none;
}


/* .col-md-3{
    border: 1px red solid;
} */

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.dishes nav {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1;
    background: white;
    min-height: 100px;
    padding-top: 15px;
    /* margin-right: 40px; */
    border-right: 1px solid rgb(236, 231, 231);
    text-align: left;
    padding-left: 240px;
    /* border: 1px solid red; */
   
    
}
.dishes nav h1{
    
    padding-left: 290px;
}
@media screen and (max-width:500px){
    .dishes nav{
        top: 150px;
        font-size: small;
        padding-left: 40px;
        width: 100%;
       
     
    }
    .dishes nav h1{
        
        padding-left: 70px;
        padding-top: 20px;
        text-align: left;
    }
    .dishes nav ul{
        width: 100%;
        
    }
    .dishes nav li{
        float: left;
        
    }
    .dishes nav a{
        padding: 5px 10px;
    }
    
}

.dishes nav a {
    color: black;
}

.dishes nav a:hover {
    background: none;
}


.dishes .nav>li.active>a,
.nav>li.active>a:focus,
.nav>li.active>a:hover {
    color: crimson !important;
    font-weight: bolder;
    background-color: white;
}

.dishes {
    margin-top: 0px;
    /* border: 5px solid red; */
    /* position: relative; */
}


.dishes .mid {
    text-align: center;
    background-color: white;
    /* padding-left: 120px;     */
}

.dishes .cart {
    padding-top: 60px;
    min-height: 100px;
    background-color: white;
    position: sticky;
    top: 66px;
    z-index: 1;
    margin-left: 30px;
    width: 22%;
    /* margin-left: 120px; */
}
.dishes .close{
    display: none;
}
@media screen and (max-width:500px){
    .dishes .cart{
        margin-left: 0px;
        width: 100%;
        padding-top:200px;
        
        /* display: none; */
    }
}
.cart h1{
    cursor: pointer;
    width: 40%;
    margin-left: 80px;
}
.cart svg {
    width: 70%;
    height: 300px;
    margin-left: 40px;
    margin-top: 20px;
    border: 1px dashed rgb(180, 179, 179);
    padding-left: 50px;
}

.cartEmptyMessage {
    padding: 20px;
    text-align: center;
    color: gray;
}

.cartEmptyMessage span {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8,
#section9,
#section10,
#section11,
#section12 {
    /* border: 1px solid red; */
    min-height: 600px;
    padding-top: 190px;
    /* background-color: aqua; */
}
@media screen and (max-width:500px){
    #section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8,
#section9,
#section10,
#section11,
#section12 {
    /* border: 1px solid red; */
    min-height: 600px;
    padding-top: 300px;
    /* background-color: aqua; */
}
}
.dishes .panel{
    /* border: #ff5e00 1PX solid; */
    /* margin: 20px; */
    /* min-height: 380px; */
    position: relative;
    padding:  0px   ;
    border-radius: 20px;
    background-color: whitesmoke;
    /* transition: width 2s, height 4s; */
}
@media screen and (max-width:500px){
    .dishes .col-md-4{
        width: 50%;
        float: left;
        
    }
    .dishes h1{
        font-size: 30px;
        text-align: center;
        /* padding-left: 30px; */
    }
}
.dishes .panel-price{
    color: #0f0f0f;
    /* display: inline-block; */
    padding: 0px 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    float: left;
}
@media screen and (max-width:500px){
    .dishes .panel-price{
        padding: 0px 0px;
        /* float: right; */
        font-size: 12px;
        position: absolute;
        bottom: 10px;
        left: 30px;
        padding-bottom: 0px;
        text-align: center;
         

    }
}



/* media screen  */
@media screen and (max-width:500px){
    .dishes .panel{
        position: relative;
    }
    .dishes .panel-body h4{
        font-size: small;
    } .dishes .panel-body .panel-para{
        font-size: 10px;
    } 
    .dishes .panel-para{
        padding-bottom: 5px;
    }
    .dishes .panel button{
     
        position: absolute;
        bottom: 0px;
        right: 2px;
        margin-bottom: 10px;
        margin-top: 20px;
        padding: 5px;
        margin-right: 5px;
      
        
    }
}
.dishes button{
    position: absolute;
    bottom: 15px;
    right: 20px;
    /* margin-top: 0px;
    margin-left: 90px;
    padding: 8px 20px; */
    /* padding-bottom: 10px; */
    
}
.dishes img{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 210px;
}
@media screen and (max-width:500px){
    .dishes img{
        height: 120px;
    }
}

.dishes .panel-body{
    text-align: center;
    padding: 0;
}



/* veg & nonveg */
.outveg{
    width: 14px;
    height: 14px;
    border: green 1px solid;
    margin: 10px;
    padding: 1px;

}
@media screen and (max-width:500px){
    .outveg{
        margin-right: 0px;
        margin-bottom: 20px;

    }
}

 .veg{
    /* position: absolute; */
    width: 10px;
    height: 10px;
    background: green;
    margin: 0;
    border-radius: 50%;
    display: block;
}
 .nveg{
    width: 10px;
    height: 10px;
    background: brown;
    margin: 0;
    border-radius: 50%;
    display: block;
    
}

 .noutveg{
    width: 14px;
    height: 14px;
    border: brown 1px solid;
    margin: 10px;
    padding: 1px;
}
@media screen and (max-width:500px){
    .noutveg{
        margin-right: 0px;
        margin-bottom: 20px;

    }
}
.identy-veg {
    margin-top: 22px;
}

.shortby{
    /* padding-top: 80px; */
    /* margin-top: 120px; */
    position: sticky;
    top: 220px;
    border: #cfcfcf dashed 1px;
    background: #fcf3f38f;
    padding-bottom: 10px;
    /* height: 100vh; */
}.shortby li{
    margin-top: 20px;
    list-style: none;
    
}.shortby li strong{
    color: red;
    
}.shortby li a{
    color: rgb(95, 92, 92);
    text-decoration: none;
    font-weight: normal;
    /* transition: color 1s, font-weight 5s; */
    
}.shortby li a:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    /* text-decoration: none; */
    
}
.mob-nav-btm{
   
    display: none;
   
}
@media screen and (max-width:500px){
    .mob-nav-btm{
        position: fixed;
        display: block;
        bottom: 5px;    
        background-color: rgb(255, 255, 255);
        width: 90%;
        left: 5%;
        border-radius: 5px;
        min-height: 50px;
        box-shadow: 0px 0px 10px rgb(105, 105, 105);
        z-index: 2;
    }.mob-nav-btm ul{
        list-style-type: none;
    }.mob-nav-btm ul li a{
        color: rgb(75, 71, 71);
        text-decoration: none;
        float: left;
        padding-right: 30px;
        padding-bottom: 20px;padding-top: 10px;
        opacity: 0.9;
    }
    
}


/* start footer  */

.city{
    padding-top: 50px;
    padding-bottom: 10px;
    /* background-image: url('../images/a62a1a76d23223931aa41299aed5b35a.png'); */
    background-color:rgb(26, 25, 25) ;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    z-index: 2;
    
}
.city .ch{
    color: rgba(153, 153, 153, 0.692);
    padding-bottom: 20px;
    
}
.city .chb h2{
    color: rgba(133, 130, 130, 0.692);
    padding-bottom: 20px;
}
/* .city{
    min-height: 350px;
    background-color:rgb(211, 210, 210);
}
.city .fadd{
    text-align: center;
}
.city .flogo{
    text-align: center;
}
.city .fcntct{
    text-align: center;
}
@media screen and (min-width: 1000px){
    .city .fadd{
        text-align: right;
    }
    .city .flogo{
        text-align: center;
    }
    .city .fcntct{
        text-align: left;
    }
}
.city ._1st{
    padding-top: 100px;
} */

/* .city .ficon{
    padding-top: 40px;
    
   
} */
.city .farr{
    padding-top: 100px;
    text-align: center;
}
.city ul {
    /* border: 2px solid green; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  .city 
    li {
        display: inline;
        float: left;
        padding: 2px 10px;
      }

.city 
    a {
        color: black;
        display: block;
        padding: 5px;
        background-color: #dddddd;
        border-radius: 45%;
      }
 .city 
a:hover {
     background-color: #6e6e6e;
      }
.price-para input{
    margin-left: 100px;
}
._2nd-drop{
    margin-left: 160px;
}
